* {
    margin: 0;
    padding: 0;
}
body{
    font-family: helvita, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url("imagens/bg.png");
    margin: 15px;
}
#container {
    background: #ede9cc url(/Imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}
#topo {
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}
.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(/Imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}
#arealogo {
    position: absolute;
    background: url(/Imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    z-index: 1;
}
#areamenu {
    position: absolute;
    background: url(/Imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
    z-index: 2;
}
#conteudomenu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}
#menulocais {
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}
#menulocais .locais {
    float: left;
    line-height: 2.1em;
}
a {
    text-decoration: none;
}
a.reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}
#menu {
    margin-top: 15px;
    
}
ul {
    list-style: none;
}
ul#navegacao{
    float: left;
}
ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
} 
ul#navegacao a:hover{
    background: #fdf6be;
}
.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}
#areaprincipal {
    float: left;
    width: 50%;
    background: url(/Imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}
#arealateral {
    float: right; 
    width: 50%;
    background: url(/Imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}   
.conteudo {
    margin: 0 auto;
    width: 90%;
}
#rodape {
    clear: both;
    padding: 16px;
    background: white url(/Imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;
}
h2 {
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0px;
}
p {
    font: 1em;
    margin-bottom: 10px;
}
#beneficios li {
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}
#beneficios li a img {
    float: left;
    margin-right: 8px;
}
#beneficios li a p {
    font-size: 0.8em;
    color: #000;
}
#beneficios li a h3 {
    font-size: 1.0em;
    color: #61522b;
    padding: 5px 0;
    background: url(/Imagens/ornamento.png) no-repeat center right;

}
#beneficios li:hover {
    background: #f6f3d6;
    cursor: pointer;
}
